<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab"  ng-click="otCtrl.toggleCustomOne()">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
                    <div class="row">
                        <div class="text-left col-lg-6">
                            <span class="col-sm-5">Technical Paper</span>
                        </div>
                        <div class="col-lg-6 text-right">
                            <span>Jan 2014| Mysore India</span>
                            <span class="col-lg-4"><i class="fa fa-arrow-circle-down"></i></span>
                        </div>
                    </div>
                </a>
            </h4>
        </div>
        <div ng-hide="otCtrl.customOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div data-type="mobile">
                    Published a paper in Infosys &#45; &#34;DL/I Status codes&#34;, which got huge response and very good comments at Infosys KSHOP
                    (Knowledge Portal) portal. This document has helped many employees of Infosys when they faced similar problems while
                    coding in IMSDC.
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading" role="tab"  ng-click="otCtrl.toggleCustomTwo()">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
                    <div class="row">
                        <div class="text-left col-lg-6">
                            <span class="col-sm-5">Insta Award</span>
                        </div>
                        <div class="col-lg-6 text-right">
                            <span>Jan 2013 - Jul 2014| Pune,  Mysore India</span>
                            <span class="col-lg-4"><i class="fa fa-arrow-circle-down"></i></span>
                        </div>
                    </div>
                </a>
            </h4>
        </div>
        <div ng-hide="otCtrl.customTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div data-type="mobile">
                    Awarded Best performer award (INSTA Award) for three consecutive quarters for my best performance in Designing,
                    Scripting and executing Test cases with proper deadline and quality. This award boosted my confidence as this
                    recognition is awarded to only outstanding performers among the 150000-odd employees of Infosys.
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading" role="tab"  ng-click="otCtrl.toggleCustomThree()">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
                    <div class="row">
                        <div class="text-left col-lg-6">
                            <span class="col-sm-5">Hardware and Networking</span>
                        </div>
                        <div class="col-lg-6 text-right">
                            <span>Jan 2005 | Bangalore India</span>
                            <span class="col-lg-4"><i class="fa fa-arrow-circle-down"></i></span>
                        </div>
                    </div>
                </a>
            </h4>
        </div>
        <div ng-hide="otCtrl.customThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div data-type="mobile">
                    Did a course in HTG on basics of Hardware and Networking in 2005 and secured  &#34;A &#34; grade in that institutional test.
                    This motivated me to start an Information Technology Services startup  &#34;P S Computers &#34; where we were able to win many clients.
                </div>
            </div>
        </div>
    </div>
</div>