<div class="page-header custom-text">
    <h2>The only source of Knowledge is Experience.</h2>
    <sub> - Albert Einstein</sub>
</div>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <div class="panel panel-primary">
        <div class="panel-heading" role="tab"  ng-click="expCtrl.toggleCustomOne()">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
                    <div class="row">
                        <div class="text-left col-lg-6">
                            <a href="http://egen.solutions/" target="_blank" class="col-sm-1"> <img class="brand-icons" alt="Brand" src="resources/images/egen-logo.png"></a>
                            <span class="col-sm-5">Egen Solutions</span>
                        </div>
                        <div class="col-lg-6 text-right">
                            <span>May 2015 to Present | Naperville , IL</span>
                            <span class="col-lg-4"><i class="fa fa-arrow-circle-down"></i></span>
                        </div>
                    </div>
                </a>
            </h4>
        </div>
        <div ng-hide="expCtrl.customOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div data-type="mobile">
                    <h4>Mobile Application</h4>
                    <ul>
                        <li>Developed a mobile application for IOT domain using Ionic and Angular</li>
                        <li>Implemented project using Agile SCRUM methodology. Involved in daily stand up meetings, sprint showcase and sprint retrospective.</li>
                        <li>Design and development of User Interface using HTML5, CSS , Angular JS and Ionic</li>
                        <li>Design and development of User Interface using HTML5, CSS , Webpack and ReactJS</li>
                        <li>Backend support with Spring MVC</li>
                        <li>Implemented Crashlytics for Crash Reporting</li>
                        <li>Implemented piwik for analytics.</li>
                        <li>Conducted code reviews against company standards and made sure the best practices are maintained in development process.</li>
                        <li>Used JIRA for tracking errors and debugging the code.</li>
                        <li>Implemented LESS styles and Used Gulp for task completion</li>
                        <li>Used Elastic search for No SQL operations</li>
                    </ul>
                </div>
                <div data-type="web-app">
                    <h4>Web Application Development</h4>
                    <ul>
                        <li>Developed and refactored the web application based on client requirement in Angular JS</li>
                        <li>Business implementations in web application</li>
                        <li>Implemented project using Agile SCRUM methodology. Involved in daily stand up meetings, sprint showcase and sprint retrospective. </li>
                        <li>Design and development of User Interface using HTML5, CSS , Angular JS</li>
                        <li>Backend support with Spring MVC</li>
                        <li>Used JIRA for logging the defects and issue tickets. </li>
                    </ul>
                </div>
                <div data-type="tools">
                    <h4>Environment</h4>
                    <span class="btn btn-default"     role="button">Angular JS </span>
                    <span class="btn btn-default"     role="button">React JS </span>
                    <span class="btn btn-default"     role="button">HTML5 </span>
                    <span class="btn btn-default"     role="button">CSS3 </span>
                    <span class="btn btn-default"     role="button">Javascript </span>
                    <span class="btn btn-default"     role="button">jQuery </span>
                    <span class="btn btn-default"     role="button">Spring MVC </span>
                    <span class="btn btn-default"     role="button">Elastic Search </span>
                    <span class="btn btn-default" role="button">Jenkins </span>
                    <span class="btn btn-default" role="button">Ionic</span>
                    <span class="btn btn-default" role="button">Jira </span>
                    <span class="btn btn-default" role="button">Confluence</span>
                    <span class="btn btn-default" role="button">Selenium </span>
                    <span class="btn btn-default" role="button">Jasmine </span>
                    <span class="btn btn-default" role="button">Enzyme </span>
                    <span class="btn btn-default" role="button">JEST </span>
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-primary">
        <div class="panel-heading" role="tab"  ng-click="expCtrl.toggleCustomThree()">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
                    <div class="row">
                        <div class="text-left col-lg-6">
                            <a  href="https://www.infosys.com/" target="_blank" class="col-sm-1"><img class="brand-icons" alt="Brand" src="resources/images/infosys.png"></a>
                            <span class="col-sm-5">Infosys</span>
                        </div>
                        <div class="col-lg-6 text-right">
                            <span>June 2011 to Jul 2014 | Pune, Mysore India</span>
                            <span class="col-lg-4"><i class="fa fa-arrow-circle-down"></i></span>
                        </div>
                    </div>
                </a>
            </h4>
        </div>
        <div class="panel-heading" role="tab"  ng-click="expCtrl.toggleCustomFour()"  ng-hide="expCtrl.customThree">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
                    <div class="row">
                        <div class="text-left col-lg-6">
                            <span class="col-sm-1"><img class="brand-icons" alt="Brand" src="resources/images/suntrust.png"></span>
                            <span class="col-sm-4">Suntrust Bank</span>
                        </div>
                        <div class="col-lg-6 text-right">
                            <span>Jan 2012 to Jul 2014 | Mysore India</span>
                            <span class="col-lg-4"><i class="fa fa-arrow-circle-down"></i></span>
                        </div>
                    </div>
                </a>
            </h4>
        </div>
        <div ng-hide="expCtrl.customFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <p class="text-justify">
                    <b>SunTrust Bank Inc.,</b> is a one of the leading bank working with millions of consumers in US. Online Banking
                    was designed to handle automation, more accuracy and fast processing of requests from customers to carry
                    out their various banking needs. The online banking application allows users to open accounts online, check
                    statements, transfer funds, order checks etc. The primary objective of this project is to design, develop,
                    and deploy the next version of online banking and to increase ability to manage content from the Interwoven
                    Content Management System.
                </p>
            </div>
            <div class="panel-body">
                <div data-type="mobile">
                    <h4>UI Development</h4>
                    <ul>
                        <li>Developed front end for the entire website using Angular JS, HTML5, CSS3, and JavaScript. </li>
                        <li>Converted raw images and layouts from a graphic designer into CSS/HTML themes.</li>
                        <li>Followed Web Accessibility Guidelines while coding the website.</li>
                        <li>Implemented client side validations in registration forms, login and logout forms using Java Script.</li>
                        <li>Extensively used JQUERY, JSON, AJAX and DOM scripting to create interactive web applications like message posting and auto complete form validations.</li>
                        <li>Used JQuery for interaction between JavaScript and HTML.</li>
                        <li>Worked with the design of the templates and skins in CSS.</li>
                        <li>Used Web Developer, Firebug, and IE developer toolbar for debugging and browser compatibility</li>
                        <li>Adopted a cross browser and cross platform approach to make the website more versatile and Supportive.</li>
                        <li>Been an active team player, helped in fixing bugs and also carried out troubleshooting</li>
                        <li>Adhered to corporate standards with respect to problem, change and configuration management</li>
                        <li>Worked on Responsive Designing for websites for Tablets and Mobiles for Expressionery site.</li>
                    </ul>
                </div>
                <div data-type="tools">
                    <h4>Environment</h4>
                    <span class="btn btn-default"     role="button">Angular JS </span>
                    <span class="btn btn-default"     role="button">HTML5 </span>
                    <span class="btn btn-default"     role="button">CSS3 </span>
                    <span class="btn btn-default"     role="button">Javascript </span>
                    <span class="btn btn-default"     role="button">jQuery </span>
                    <span class="btn btn-default"     role="button">Java </span>
                    <span class="btn btn-default"     role="button">SQL Devloper </span>
                    <span class="btn btn-default"     role="button">Jasmine </span>
                </div>
            </div>
        </div>


        <div class="panel-heading" role="tab"  ng-click="expCtrl.toggleCustomFive()"  ng-hide="expCtrl.customThree">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
                    <div class="row">
                        <div class="text-left col-lg-6">
                            <span class="col-sm-1"><img class="brand-icons" alt="Brand" src="resources/images/wellpoint.png"></span>
                            <span class="col-sm-4">WellPoint</span>
                        </div>
                        <div class="col-lg-6 text-right">
                            <span>June 2011 to Jan 2012 | Pune India</span>
                            <span class="col-lg-4"><i class="fa fa-arrow-circle-down"></i></span>
                        </div>
                    </div>
                </a>
            </h4>
        </div>
        <div ng-hide="expCtrl.customFive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div data-type="mobile">
                    <h4>Mainframe Developer </h4>
                    <ul>
                        <li>Performed Requirement Analysis </li>
                        <li>Developed online screens in Mainframes using IMSDC, CICS, JCL and DB2</li>
                        <li>Performed Abend analysis during production issue and monitoring jobs </li>
                        <li>Involved in SDLC cycle and also Participated completely in all the steps of Global Delivery Model</li>
                        <li>Managed SSCR (Small Change Request) single handed and implemented the module successfully into production</li>
                    </ul>
                </div>
                <div data-type="tools">
                    <h4>Environment</h4>
                    <span class="btn btn-default"     role="button">IMSDC</span>
                    <span class="btn btn-default"     role="button">CICS </span>
                    <span class="btn btn-default"     role="button">Cobol </span>
                    <span class="btn btn-default"     role="button">DB2 </span>
                    <span class="btn btn-default"     role="button">Mainframes </span>
                </div>
            </div>
        </div>


    </div>

</div>