<div class="page-header custom-text">
    <h2>Technology: the knack of so arranging the world that we don't have to experience it.</h2>
    <sub> - Max Frisch</sub>
</div>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab"  ng-click="tsCtrl.toggleCustomOne()">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
                    <div class="row">
                        <div class="text-left col-lg-6">
                            <span class="col-sm-5">Technical Languages</span>
                        </div>
                    </div>
                </a>
            </h4>
        </div>
        <div ng-hide="tsCtrl.customOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div data-type="tools">
                    <span class="btn btn-default"  role="button">Angular JS </span>
                    <span class="btn btn-default"  role="button">HTML5 </span>
                    <span class="btn btn-default"  role="button">CSS3 </span>
                    <span class="btn btn-default"  role="button">Javascript </span>
                    <span class="btn btn-default"  role="button">jQuery </span>
                    <span class="btn btn-default"  role="button">Java SE</span>
                    <span class="btn btn-default"  role="button">RDBMS</span>
                    <span class="btn btn-default"  role="button">JSON</span>
                    <span class="btn btn-default"  role="button">Jasmine(Protrator)</span>
                    <span class="btn btn-default"  role="button">Basics R Programming</span>
                    <span class="btn btn-default"  role="button">QTP</span>
                    <span class="btn btn-default"  role="button">JSTL</span>
                    <span class="btn btn-default"  role="button">JSP</span>
                    <span class="btn btn-default"  role="button">COBOL</span>
                    <span class="btn btn-default"  role="button">JCL</span>
                    <span class="btn btn-default"  role="button">CICS</span>
                    <span class="btn btn-default"  role="button">IMSDC</span>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading" role="tab"  ng-click="tsCtrl.toggleCustomTwo()">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
                    <div class="row">
                        <div class="text-left col-lg-6">
                            <span class="col-sm-5">Database</span>
                        </div>
                    </div>
                </a>
            </h4>
        </div>
        <div ng-hide="tsCtrl.customTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div data-type="tools">
                    <span class="btn btn-default"  role="button">RDBMS</span>
                    <span class="btn btn-default"  role="button">Elastic Search</span>
                    <span class="btn btn-default"  role="button">SQLite</span>
                    <span class="btn btn-default"  role="button">SQL</span>
                    <span class="btn btn-default"  role="button">DB2</span>
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-primary">
        <div class="panel-heading" role="tab"  ng-click="tsCtrl.toggleCustomThree()">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
                    <div class="row">
                        <div class="text-left col-lg-6">
                            <span class="col-sm-5">Tools Used</span>
                        </div>
                    </div>
                </a>
            </h4>
        </div>
        <div ng-hide="tsCtrl.customThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div data-type="tools">
                    <span class="btn btn-default"  role="button">php Strom</span>
                    <span class="btn btn-default"  role="button">Web Storm</span>
                    <span class="btn btn-default"  role="button">IntelliJ</span>
                    <span class="btn btn-default"  role="button">eclipse</span>
                    <span class="btn btn-default"  role="button">Net bean</span>
                    <span class="btn btn-default"  role="button">SQL developer</span>
                    <span class="btn btn-default"  role="button">Sublime text</span>
                    <span class="btn btn-default"  role="button">QTP</span>
                    <span class="btn btn-default"  role="button">ALM</span>
                    <span class="btn btn-default"  role="button">MS Office</span>
                    <span class="btn btn-default"  role="button">Exceed BlueZone</span>
                    <span class="btn btn-default"  role="button">Defect tracker</span>
                    <span class="btn btn-default"  role="button">Edit Plus</span>
                    <span class="btn btn-default"  role="button">JIRA</span>
                    <span class="btn btn-default"  role="button">XAMPP Server</span>
                    <span class="btn btn-default"  role="button">Crashlytics</span>
                    <span class="btn btn-default"  role="button">Piwik Analytic</span>
                    <span class="btn btn-default"  role="button">Confluence</span>
                </div>
            </div>
        </div>
    </div>
</div>