<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container row">
            <div class="col-lg-6 text-left">
                <span class="glyphicon glyphicon-copyright-mark" aria-hidden="false">CopyRight | PrashanthPNaika</span>
            </div>
            <div class="col-lg-5 text-right">
                <a href="https://www.linkedin.com/in/prashanthnaika" target="_blank" class="alignright"><i class="fa fa-linkedin"></i></a>
                <a href="https://github.com/pnaika" target="_blank"><i class="fa fa-github"></i></a>
            </div>
        </div>
    </nav>
</footer>