<div class="page-header custom-text">
    <h2>Education is the most powerful weapon which you can use to change the world.</h2>
    <sub> - Nelson Mandela</sub>
</div>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab"  ng-click="eduCtrl.toggleCustomOne()">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
                    <div class="row">
                        <div class="text-left col-lg-6">
                            <span class="col-sm-1"><img class="brand-icons" alt="Brand" src="resources/images/IITChicago.png"></span>
                            <span class="col-sm-5">Illinois Institute of Technology</span>
                        </div>
                        <div class="col-lg-6 text-right">
                            <span>Aug 2014 to May 2016 | Chicago , IL</span>
                            <span class="col-lg-4"><i class="fa fa-arrow-circle-down"></i></span>
                        </div>
                    </div>
                </a>
            </h4>
        </div>
        <div ng-hide="eduCtrl.customOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div data-type="details">
                    <h3>Master's in Information Technology and Management</h3>
                    <h3>GPA : 3.87/4.0</h3>
                </div>
                <div data-type="courses">
                    <h4>Courses</h4>
                    <ul>
                        <li>ITMD 411: Intermediate Software Development</li>
                        <li>ITMD 461: Internet Technologies Web Design</li>
                        <li>ITMD 422: Advanced Database Management</li>
                        <li>ITMD 515: Advanced Software Programming</li>
                        <li>ITMD 527: Data Analytics</li>
                        <li>ITMD 555: Intelligent Device Application, Android</li>
                        <li>ITMD 562: Web Site Application Development</li>
                        <li>ITMD 565: Rich Internet Applications</li>
                        <li>ITMD 569: Big Data</li>
                        <li>ITMD 571: Project Management for ITM</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading" role="tab"  ng-click="eduCtrl.toggleCustomTwo()">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
                    <div class="row">
                        <div class="text-left col-lg-6">
                            <span class="col-sm-1"><img class="brand-icons" alt="Brand" src="resources/images/rnsit.jpeg"></span>
                            <span class="col-sm-5">RNS Institute of Technology</span>
                        </div>
                        <div class="col-lg-6 text-right">
                            <span>June 2007 to June 2011 | Bangalore, India</span>
                            <span class="col-lg-4"><i class="fa fa-arrow-circle-down"></i></span>
                        </div>
                    </div>
                </a>
            </h4>
        </div>
        <div ng-hide="eduCtrl.customTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div data-type="mobile">
                    <h3>Bachelor's in Electroics and Communication Engineering</h3>
                    <h3>GPA : 3.8/4.0 (75%)</h3>
                </div>
            </div>
        </div>
    </div>

</div>