<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab"  ng-click="apCtrl.toggleCustomOne()">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
                    <div class="row">
                        <div class="text-left col-lg-6">
                            <span class="col-sm-5"><b>Graduation Course Projects</b></span>
                        </div>
                        <div class="text-right col-lg-6">
                            <span><b>Illinois Institute of Technology , Chicago</b></span>
                        </div>
                    </div>
                </a>
            </h4>
        </div>
        <div class="panel-heading" role="tab"  ng-click="apCtrl.toggleCustomFive()" ng-hide="apCtrl.customOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
                    <div class="row">
                        <div class="text-left col-lg-6">
                            <span class="col-sm-5" style="color:whitesmoke;">Global Parking System in php</span>
                        </div>
                        <div class="text-right col-lg-6">
                            <span class="col-sm-5"><a href="https://github.com/pnaika/php_globalParkingSystem" target="_blank"><i class="fa fa-github acadProject">GitHub</i></a></span>
                            <span class="col-lg-4"><i class="fa fa-arrow-circle-down" title="click to see more"></i></span>
                        </div>
                    </div>
                </a>
            </h4>
        </div>
        <div ng-hide="apCtrl.customFive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <ul>
                    <li>This application facilitates customers to park their vehicles and calculate payment
                        according to the time of slot used.</li>
                    <li>Tools used php Storm , SQLite</li>
                </ul>
            </div>
        </div>


        <div class="panel-heading" role="tab"  ng-click="apCtrl.toggleCustomFour()" ng-hide="apCtrl.customOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
                    <div class="row">
                        <div class="text-left col-lg-6">
                            <span class="col-sm-5" style="color:whitesmoke;">Global Parking System</span>
                        </div>
                        <div class="text-right col-lg-6">
                            <span class="col-sm-5"><a href="https://github.com/pnaika/J2EE_PrashanthNaikFinalProject" target="_blank"><i class="fa fa-github acadProject">GitHub</i></a></span>
                            <span class="col-lg-4"><i class="fa fa-arrow-circle-down" title="click to see more"></i></span>
                        </div>
                    </div>
                </a>
            </h4>
        </div>
        <div ng-hide="apCtrl.customFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <ul>
                    <li>This application provides customer to facilitate parking to their vehicles and calculate payment
                        according to the time of slot used.</li>
                    <li>Tools used NetBean 8, MySQL , GlassFish Server 4</li>
                    <li>Language used-  J2E , JSP, JSTL, RDBMS , JSF Pages</li>
                    <li>Other information: Servlets, MVC system, JPA</li>
                </ul>
            </div>
        </div>

        <div class="panel-heading" role="tab"  ng-click="apCtrl.toggleCustomTwo()" ng-hide="apCtrl.customOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
                    <div class="row">
                        <div class="text-left col-lg-6">
                            <span class="col-sm-5" style="color:whitesmoke;">Chicago Coffee Shop</span>
                        </div>
                        <div class="text-right col-lg-6">
                            <span class="col-sm-5"><a href="https://github.com/pnaika/ChicagoCoffeeShopAngularJS" target="_blank"><i class="fa fa-github acadProject">GitHub</i></a></span>
                            <span class="col-lg-4"><i class="fa fa-arrow-circle-down" title="click to see more"></i></span>
                        </div>
                    </div>
                </a>
            </h4>
        </div>
        <div ng-hide="apCtrl.customTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <ul>
                    <li>Tools used includes Sublime text, Notepad, Web Storm, Net Bean, SQL Developer</li>
                    <li>Languages : HTML5, CSS3, JavaScript, Angular JS, LESS, SQL</li>
                </ul>
            </div>
        </div>


        <div class="panel-heading" role="tab"  ng-click="apCtrl.toggleCustomThree()" ng-hide="apCtrl.customOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
                    <div class="row">
                        <div class="text-left col-lg-8">
                            <span class="col-sm-5">Online Defect Tracking System</span>
                        </div>
                        <div class="text-right">
                            <span class="col-lg-4"><i class="fa fa-arrow-circle-down" title="click to see more"></i></span>
                        </div>
                    </div>
                </a>
            </h4>
        </div>
        <div ng-hide="apCtrl.customThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <ul>
                    <li>Used Java to code and coded using JSwing in eclipse.</li>
                </ul>
            </div>
        </div>

        <div class="panel-heading" role="tab"  ng-click="apCtrl.toggleCustomSix()" ng-hide="apCtrl.customOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
                    <div class="row">
                        <div class="text-left col-lg-8">
                            <span class="col-sm-5">Data Retrieval application</span>
                        </div>
                        <div class="text-right">
                            <span class="col-lg-4"><i class="fa fa-arrow-circle-down" title="click to see more"></i></span>
                        </div>
                    </div>
                </a>
            </h4>
        </div>
        <div ng-hide="apCtrl.customSix" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <ul>
                    <li>This application retrieve data from Oracle and MySQL database upon user decision</li>
                    <li>Tools Used includes Visual Studios, MySQL, Oracle 11g, SQL-Developer</li>
                    <li>Languages – RDBMS, SQL, .net</li>
                </ul>
            </div>
        </div>

        <div class="panel-heading" role="tab"  ng-click="apCtrl.toggleCustomSeven()" ng-hide="apCtrl.customOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
                    <div class="row">
                        <div class="text-left col-lg-8">
                            <span class="col-sm-5">Student Registration Application</span>
                        </div>
                        <div class="text-right">
                            <span class="col-lg-4"><i class="fa fa-arrow-circle-down" title="click to see more"></i></span>
                        </div>
                    </div>
                </a>
            </h4>
        </div>
        <div ng-hide="apCtrl.customSeven" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <ul>
                    <li>This application mainly rely on CRUD operations, Where Student can register and database keeps the information regarding student history.</li>
                    <li>Tools used includes NetBean 8, MySQL , GlassFish Server 4</li>
                    <li>Language used-  J2E , JSP, JSTL, RDBMS</li>
                    <li>Other information: Servlets, MVC system, JPA.</li>
                </ul>
            </div>
        </div>
    </div>


    <div class="panel panel-primary">
        <div class="panel-heading" role="tab"  ng-click="apCtrl.toggleCustomOneUG()">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseUGOne">
                    <div class="row">
                        <div class="text-left col-lg-6">
                            <span class="col-lg-6"><b>Under Graduation Course Project</b></span>
                        </div>
                        <div class="text-right col-lg-6">
                            <span><b>RNS Institute of Techonology, Bangalore India</b></span>
                        </div>
                    </div>
                </a>
            </h4>
        </div>
        <div class="panel-heading" role="tab"  ng-click="apCtrl.toggleCustomTwoUG()" ng-hide="apCtrl.customOneUG">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
                    <div class="row">
                        <div class="text-left col-lg-8">
                            <span class="col-sm-5">Digital ration card System using RFID and GSM </span>
                        </div>
                        <div class="text-right col-lg-4">
                            <span class="col-lg-4"><i class="fa fa-arrow-circle-down" title="click to see more"></i></span>
                        </div>
                    </div>
                </a>
            </h4>
        </div>
        <div ng-hide="apCtrl.customTwoUG" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <ul>
                    <li>The module had various peripherals like: Microcontroller, RFID (Radio-frequency identification), and GlobalSystem for Mobile
                        Communications, or GSM, Liquid Crystal Display (LCD), Keyboard, Power supply, External memory. </li>
                    <li>Lead team of 4 and we achieved A+ grade from the University.</li>
                </ul>
            </div>
        </div>
    </div>

</div>



